<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:integration="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
			http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd"
>

	<bean
		id="jmsConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory"
	>
		<property name="targetConnectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property
					name="brokerURL"
					value="tcp://localhost:9016?broker.persistent=false" />
			</bean>
		</property>
		<property
			name="sessionCacheSize"
			value="128" />
		<property
			name="cacheConsumers"
			value="true" />
		<property
			name="cacheProducers"
			value="true" />
	</bean>
<!-- 
	<bean
		id="newTransferQueue"
		class="org.apache.activemq.command.ActiveMQQueue"
	>
		<constructor-arg value="new.transfer.queue" />
	</bean>

	<integration:poller
		id="poller"
		default="true"
		fixed-delay="1000" />
 -->

</beans>