<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/ip http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd"
>

	<beans:import resource="spring-integration-amq-context.xml" />

<!-- 
	<int-ip:tcp-connection-factory
		id="networkNodeServer"
		type="server"
		host="${local.node.tcp.server.host}"
		port="${local.node.tcp.server.port}" />

	<int-ip:tcp-inbound-gateway
		id="gatewayNetworkNode"
		connection-factory="networkNodeServer"
		request-channel="serverBytes2StringChannel"
		error-channel="errorChannel" />

	<int:channel id="toNetworkNodeServer" />

	<int:service-activator
		input-channel="toNetworkNodeServer"
		ref="networkServer"
		method="process" />

	<int:object-to-string-transformer
		id="serverBytes2String"
		input-channel="serverBytes2StringChannel"
		output-channel="toNetworkNodeServer" />

	<int:transformer
		id="errorHandler"
		input-channel="errorChannel"
		expression="payload.failedMessage.payload + ':' + payload.cause.message" />
 -->
 
</beans>