<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
  		http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd"
>

	<amq:broker
		useJmx="false"
		persistent="false"
	>
		<amq:transportConnectors>
			<amq:transportConnector uri="tcp://${amq-validation-host}:${amq-validation-port}" />
		</amq:transportConnectors>
	</amq:broker>

	<amq:connectionFactory
		id="amqFactory"
		brokerURL="tcp://${amq-validation-host}:${amq-validation-port}" />

	<!-- Broadcasting queues for Validation network nodes -->
	  
	<amq:topic
		id="Q.TRANSFER.NEW.REQ"  
		physicalName="Q.TRANSFER.NEW.REQ" />

	<amq:topic
		id="Q.TRANSFER.SETTLED"  
		physicalName="Q.TRANSFER.SETTLED" />

	<amq:topic
		id="Q.TRANSFER.CANCELLED"  
		physicalName="Q.TRANSFER.CANCELLED" />

	<jms:annotation-driven />

	<jms:listener-container connection-factory="amqFactory">
		<jms:listener
			destination="Q.TRANSFER.NEW.RESP"
			ref="getNodeAccountsListener"
			method="onMessage" />
	</jms:listener-container>



</beans>